.l-main
	.l-main--inner
		- page.posts.each(function(post) {
			.postHeader
				h2.postHeader--title
					a(href="#{post.path}") #{post.title}
				p.postHeader--date #{post.date.format(config.date_format)}
				- if (post.tags && post.tags.length) {
					- post.tags.each(function(tag){
						a.postHeader--tag(href="#{tag.path}") #{tag.name}
					- });
				- };
				.postHeader--desc
					!= post.excerpt
		- });
