.l-side
	.l-side--inner
		i.test
		p.side-logo
			a(href="#{config.root}") #{config.title}
		ul.side-menu
			li
				a(href="#{config.root}") home
			li
				a(href="#{config.root}") archives
			li
				a(href="#{config.root}") about
		.side-foot
			ul.side-sns
				li
					a(href="")
						p.side-sns--caption twitter
						i.side-sns--icon_twitter
				li
					a(href="")
						p.side-sns--caption github
						i.side-sns--icon_github
				li
					a(href="")
						p.side-sns--caption instagram
						i.side-sns--icon_instagram
			p.side-address
				| written by &nbsp;
				a(href="https://twitter.com/hikonaz", target="_blank") @hikonaz
				br
				| powered by &nbsp;
				a(href="https://hexo.io", target="_blank") Hexo